
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-instagram-fill:before { content: '\e802'; } /* '' */
.icon-truck-line:before { content: '\e803'; } /* '' */
.icon-github-fill:before { content: '\e804'; } /* '' */
.icon-customer-service-line:before { content: '\e805'; } /* '' */
.icon-eye-line:before { content: '\e806'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
